@media screen and (max-width: 414px) {
    html{
        font-size: 15px;
    }
    body{
        line-height: 1.7;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size:20px;
    }
    span{
        font-size: 12px;
    }
    header{
        justify-content: space-between;
        padding:10px 6% 10px 6%;
    }
    footer{
        flex-direction: column;
        justify-content: space-between;
        gap: 12px;
        padding:36px 6% 10px 6%;
    }
    header .logo{
        min-width:40px;
    }
    nav i{
        font-size: 20px;
    }
    
    #hero img{
        margin-bottom: 28px;
        min-width: 100px;
    }
    #hero p{
        line-height: 1.1;
    }
    section, .singlearticle{
        padding:56px 6% 56px 6%;
    }
    .messages{
        padding:6px 16px 6px 16px;
        margin: 16px 6% 0 6%;
    }
    .alltasks article{
    padding:24px 24px 24px 24px;
    margin:24px 0 24px 0;
    }
    .singletask > p{
        margin: 32px, 0, 50px, 0;
    }
    .alltasks p{
        margin-bottom: 20px;
    }
    .alltasks article > div{
        margin-bottom: 8px;
    }
    .alltasks article i, .singletask i{
        font-size:12px;
    }
    .alltasks article span, .singletask span{
        margin-left: 5px;
    }
    .about-img{
        width: 40%;
        min-width:150px;
    }

    .flex-div{
        flex-direction:column;
        justify-content: center;
    }

    #about .flex-div, #features .flex-div{
        gap: 56px;
    }

    .alltasks .flex-div{
        margin-bottom:36px;
        justify-content:space-between;
    }

    .alltasks .flex-div > h1{
        flex-basis:80%;
    }
    #features i{
        font-size:32px;
        margin: 22px 0 30px 0;
    }
    
    .submit{
        font-weight: 700;
        padding: 8px 20px 8px 20px;
    }

    .submit:hover{
        padding: 7px 20px 7px 20px;
    }

    #cta p{
        width:100%;
        margin-bottom: 32px;
    }
    
    input{
        margin-bottom:30px;
    }

    .centerpage{
        width: 250px;
        margin-top: 14px;
        margin-bottom:14px;
        padding:36px 36px 36px 36px;
    }
    .centerpage img{
        width: 70px;
        margin-bottom: 48px;
    }
    .centerpage ul{
        margin-top: -12px;
        margin-bottom: 28px;
    }

    .centerpage button{
        margin-top: 18px;
    }
    
    .centerpage input{
        padding: 3px 6px;
    }
    
    .centerpage label{
        margin-bottom: 6px;
    }
}