{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <section>
        <img src="{% static 'core/brandlogo-dark.png' %}">
        <h1>TASKLY</h1>
    </section>
    <section>
        <h2>about</h2>
        <p>bbbbb</p>
    </section>
    <section>
        <h2>features</h2>
        <div>
            <div><p></p><i></i></div>
            <div><P></P><i></i></div>
            <div><P></P><i></i></div>
            <div><P></P><i></i></div>
            <div><P></P><i></i></div>
        </div>
    </section>
    <section>
        <h3></h3>
        <button></button>
    </section>
{% endblock %}