{% load static %}
{% include 'shared/header.html' %}
    <title>Login - Taskly</title>
</head>
<body>
    <div class="centerpage">
         <a href="{% url 'core:home'%}"><img src="{% static 'core/brandlogo-dark.png' %}"></a>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit">Login</button>
        </form>
    </div>
    <script src="{% static 'core/scripts/login_register_theme.js' %}" type="module" crossorigin="anonymous" async></script>
{% include 'shared/footer.html' %}
