{% extends "base.html" %}

{% block title %}{{ task.title }}{% endblock %}

{% block content %}
        <article class="singlearticle singletask">
            <h1>{{task.title}}</h1>
            {% if task.is_completed %}
                <div>
                    <i class="fa-solid fa-circle-check"></i><span>completed</span>
                    <p>completed on {{ task.due_at }}</p>
                </div>
            {% elif  task.start_at > now %}
                <div>
                    <i class="fa-solid fa-bell"></i><span>scheduled</span>
                    <p>starts on {{ task.start_at }}</p>
                </div>
            {% elif task.due_at > now and now >= task.start_at %}
                <div>
                    <i class="fa-solid fa-arrows-rotate"></i><span>running</span>
                    <p>ends on {{ task.due_at }}</p>
                </div>
            {% else %}
                <div>
                    <i class="fa-solid fa-hourglass-half"></i><span>pending</span>
                    <p>past due - {{ task.due_at }}</p>
                </div>
            {% endif %}
            <p>{{task.description}}</p>
            <!--<section>
                <h3>stages</h3>
                <ol>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            </section> -->
            <div  class="flex-div">
                {% if task.is_completed is False and now >= task.start_at %}
                    <form action="{%url 'tasks:completeTask' task.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="submit">complete</button>
                    </form>
                {% endif%}
                {% if task.is_completed is False %}
                    <a href="{%url 'tasks:updateTask' task.pk %}" class="submit">update</a>
                {% endif %}
                <form action="{%url 'tasks:deleteTask' task.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="submit">delete</button>
                </form>
            </div>
        </article>
{% endblock %}