{% load static %}
{% include 'shared/header.html' %}

<title>{% block title %}{% endblock %} - Taskly</title>
</head>
    <body>
        <header class="group2">
            <div class="logo">
		    <a href="{% url 'core:home' %}"><img src="{% static 'core/brandlogo-dark.png' %}"></a>
            </div>
            <nav>
                <div class="nav-set-1">
                    <a href="{% url 'tasks:index' %}">Tasks</a>
                    <a href="{% url 'tasks:pendingTasks' %}">Pending</a>
                    <a href="{% url 'tasks:runningTasks' %}">Running</a>
                    <a href="{% url 'tasks:scheduledTasks' %}">Scheduled</a>
                    <a href="{% url 'tasks:completedTasks' %}">Completed</a>
                </div>

                <div class="nav-set-2">
                    {% if request.user.is_authenticated %}
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="submit"><i class="fa-solid fa-right-from-bracket"></i><span>logout</span></button>
                        </form>
                    {% else %}
                        <a href="{% url 'login' %}" class="submit"><i class="fa-solid fa-right-to-bracket"></i><span>login</span></a>
                        <a href="{% url 'register' %}" class="submit"><i class="fa-solid fa-user-plus"></i><span>register</span></a>
                    {% endif %}
                    <div><i class="fa-solid fa-burger"></i></div>
                </div>
            </nav>
        </header>
        {% if messages %}
            <section class="messages group2">
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </section>
        {% endif %}
        <script async>
            window.onload = () => {
                setTimeout(() => {
                    const msg = document.querySelector('.messages');
                    if (msg) msg.classList.add('hide');
                }, 5000);
            };
        </script>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer style="text-align: center;">
            <div><span>Contact: charlesigboanugo033@gmail.com</span></div>
            <div><span>&copy; 2025 Charles Igboanugo. All rights reserved.</span></div>
        </footer>

{% include 'shared/footer.html' %}
